spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/carmanagement_auth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always  # This helps with initial data setup

server:
  port: 8081

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.carmanagement.auth: DEBUG
    org.hibernate.SQL: DEBUG

jwt:
  secret: "mySuperSecretKeyForJWTTokenGenerationInCarManagementSystem2024"