spring:
  application:
    name: service-discovery

server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    # This is a server, so don't register itself as a client
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    # Disable self-preservation for development
    enable-self-preservation: false
